<% @authorities.each do |authority| %>
  <%=link_to authority.project.name, mypage_project_path(authority.project) %>
<% end %>

<p>あなたが作成したプロジェクト</p>
<% @projects.each do |project| %>
  <%= link_to project.name, mypage_project_path(project) %>
<% end %>