<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <% if user_signed_in? %>
            <div class="sidebar-header">
                <h3>ジャンル一覧</h3>
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">あなたが作成したジャンル</a>
                    <% @genres.each do |genre| %>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <%=link_to genre.name, mypage_genre_path(genre) %>
                            </li>
                        </ul>
                    <% end %>
                </li>
            </ul>
        <% end %>
    </nav>
</div>